
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .glyphicon-asterisk:before {
    content: "\002a";
  }

  .top-navigation .navbar-brand2 {
    background: #c58741;
    color: #fff;
    padding: 15px 25px;
    font-size: 18px;
    line-height: 20px;
  }

  .menu-primary-container {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
font-size: 14px;
line-height: 1.42857143;
color: #333;
font-family: Roboto,sans-serif;
box-sizing: border-box;
  }